<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="DevExpress" value="https://nuget.devexpress.com/5bf81r1GMRV8EdIj7bHqFXmNfQwkHU25ObURV86oY5ulpYvgvb/api/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
